body {
    margin: 0;
}

.roboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.container {
    display: flex;
}

.left {
    width: 50%;
    height: 100vh;
    background-image: url(image.png);
}

.left_span {
    font-size: 28px;
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
}

.left_flex {
    display: flex;
    margin-top: 60px;
    margin-left: 30px;
}

.login {
    width: 120px;
    height: 40px;
    background: #72DB73;
    border-radius: 33px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.login:hover {
    background-color: #52d65b;
}

.left_bottom {
    margin-top: 50%;
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 141.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main {
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    background-color: black;
}

.error {
    color: red
}

.brand {
    margin: 35px auto 0 auto;
}

.brand h1 {
    font-family: 'Single Day';
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    color: #72DB73;
    margin: 0;
}

.brand p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
}

.mail_login {
    margin: 0 auto;
}

.Email,
.Gmail {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28.8485px;
    color: #FFFFFF;
    border: none;
    background-color: black;
    cursor: pointer;
}

.mail_login span {
    color: #72DB73;
    font-size: 25px;
    margin: 0 10px;
    position: relative;
    bottom: 3px;
    user-select: none;
}

.form_container {
    margin: 20px auto;
}

.inputs {
    margin: auto;
    display: flex;
    flex-direction: column;
}

input {
    position: relative;
    width: 350px;
    height: 50px;
    background: #292929;
    border-radius: 3.81584px;
    margin: 10px auto;
    border: none;
    color: #FFFFFF;
    font-size: 19px;
    padding: 0 15px;
}

input:focus {
    border: none
}

.flex_label {
    margin: 0 auto;
    width: 420px;
}

.flex_check {
    margin: 0 auto;
    height: 40px;
}

.checkbox {
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 3.81584px;
    margin: 0 10px;
    border: none;
}

.terms {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #7C7C7C;
    user-select: none;
}

.registered {
    color: white;
    font-size: 15px;
    font-family: "Roboto";
}

.error {
    width: 10px;
    margin-left: 10px;
}

.sign_up {
    width: 330px;
    height: 35px;
    background-color: #4df258;
    border-radius: 28px;
    margin: 7px auto;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 600;
}

.sign_up:hover {
    background: #6dc36f;
}

.tns {
    color: white;
    margin: 2px;
    font-family: "roboto";
    width: 500px;
}

.tns span {
    color: green;
    cursor: pointer;
}